header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary_color);
  height: 128px;
}

.header_content_positioning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding-left: 120px;
  padding-right: 40px;
}

.hero_image_container {
  position: relative;
}

.hero-image {
  height: 508px;
  width: 100%;
  object-fit: cover;
}

.headline_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 87px;
}

.headline_section_h1_and_review_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
}

h1 {
  font-family: "Palanquin Dark";
  font-size: 48px;
  font-weight: bold;
  color: var(--grey_tone);
  margin-bottom: 20px;
  margin-right: 32px;
}

h1 span {
  color: var(--primary_color);
}

.headline_section img {
  width: 110px;
  height: 32px;
}

.headline_section_p_tag {
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 24px;
  color: var(--grey_tone);
  padding: 0 10px;
}

main section header {
  display: flex;
  justify-content: center;
  height: 60px;
}

.burger_and_sandwiches_section header {
  margin-top: 52px;
}

.section_header_content_positioning {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding-left: 167px;
}

.burger_and_sandwiches_section .section_header_content_positioning {
  align-items: flex-end;
}

.burger_and_sandwiches_section_header_icon {
  height: 91px;
  width: 88px;
  margin-right: 28px;
}

.food_content {
  display: flex;
  flex-direction: column;
  gap: 16px 0px;
  margin-top: 26px;
  max-width: 1440px;
  width: 100%;
}

.food_content_positioning_div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 120px;
}

.section_headline {
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 2px;
}

.pizza_section header {
  margin-top: 61px;
}

.pizza_section_header_icon {
  height: 91px;
  width: 81px;
  margin-right: 35px;
}

.pizza_section_header_extra_text {
  font-family: Palanquin;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.salad_section header {
  margin-top: 114px;
  margin-bottom: 38px;
}

.salad_section_header_icon {
  width: 89px;
  height: 91px;
  margin-right: 27px;
}

footer {
  height: 128px;
  background-color: var(--primary_color);
  margin-top: 123px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding-top: 64px;
  font-family: Palanquin;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.footer_copyright_icon_and_text_wrapper_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer_copyright_icon {
  height: 24px;
  width: 24px;
}

.bottom_navbar {
  display: none;
}

dialog {
  height: 269px;
  width: 415px;
  background-color: var(--grey_tone);
  border: none;
  border-radius: 32px;
  position: fixed;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

dialog[open] {
  display: flex;
}

@media (min-width: 1440px) {
  .header_content_positioning {
    padding-left: max(0px, calc((1600px - 100vw) / 160 * 120));
    padding-right: max(0px, calc((1600px - 100vw) / 160 * 40));
  }
}

@media (max-width: 1300px) {
  .header_content_positioning {
    padding-left: 80px;
    padding-right: 32px;
  }

  .section_header_content_positioning {
    padding-left: 112px;
  }

  .food_content_positioning_div {
    padding-left: 80px;
    padding-right: 451px;
  }
}

@media (max-width: 1150px) {
  .header_content_positioning {
    padding-left: 48px;
    padding-right: 24px;
  }

  .section_header_content_positioning {
    padding-left: 72px;
  }

  .food_content_positioning_div {
    padding-left: 48px;
    padding-right: 404px;
  }
}

@media (max-width: 1000px) {
  .header_content_positioning {
    padding-left: 16px;
  }

  .hero-image {
    display: block;
    width: calc(100% - 32px);
    height: 346px;
    margin: 24px 16px 0;
    border-radius: 16px;
  }

  .food_content_positioning_div {
    padding-right: 48px;
  }

  .section_header_content_positioning {
    justify-content: center;
    padding-left: 0;
  }

  .food_content {
    align-items: center;
  }

  body {
    padding-bottom: 78px;
  }

  .bottom_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background-color: #282827;
  }

  dialog {
    height: 255px;
    width: 340px;
  }

  header {
    height: 79px;
  }

  .salad_section header {
    margin-top: 52px;
    margin-bottom: 0px;
  }

  footer {
    margin-top: 52px;
  }
}

@media (max-width: 800px) {
  .food_content_positioning_div {
    padding-right: 14px;
    padding-left: 14px;
  }

  .headline_section_h1_and_review_div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 97px;
  }

  h1 {
    font-family: "Palanquin Dark";
    font-size: 40px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 8px;
  }

  h1 span {
    color: var(--primary_color);
  }

  .headline_section_p_tag {
    font-size: 22px;
    text-align: center;
    line-height: 1;
  }

  .headline_section {
    margin-top: 75px;
  }

  .section_headline {
    font-size: 32px;
    margin-bottom: 48px;
  }

  .burger_and_sandwiches_section_header_icon {
    height: 60px;
    width: 58px;
    margin-right: 0px;
    margin-bottom: -14px;
  }

  .section_header_content_positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger_and_sandwiches_section .section_header_content_positioning {
    align-items: center;
  }

  .mobile_hiding_class {
    display: none;
  }

  .pizza_section_header_icon {
    height: 60px;
    width: 53px;
    margin-right: 0px;
    margin-bottom: -20px;
  }

  .pizza_section_header_extra_text {
    font-family: Palanquin;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 36px;
  }

  .salad_section_header_icon {
    width: 59px;
    height: 60px;
    margin-right: 0px;
    margin-bottom: -16px;
  }

  .burger_and_sandwiches_section header {
    margin-top: 86px;
  }
}

@media (max-width: 730px) {
  footer {
    margin-top: 48px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-top: 0px;
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .hero-image {
    width: calc(100% - 32px);
    height: clamp(272px, 105.7143vw - 66.2857px, 346px);
  }

  dialog {
    width: 288px;
    height: 250px;
  }
}